
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;  
    background-color: #181818;  
    overflow: hidden; 
}

@font-face {
    font-family: haas;
    src: url(graphik/GraphikMedium.otf);
}

h1{
    font-family: haas, serif;
    padding: 25px;
    padding-bottom: 5px;
    font-size: 25px;
    color: azure;
    padding-left: 35px;
}

h2{
    font-family: haas, serif;
    font-size: 16px;
    font-weight: lighter;
    color: azure;
    padding-left: 35px;
    padding-bottom: 76px;
}

@font-face {
    font-family: haaas;
    src: url(graphik/GraphikRegular.otf);
}

@font-face {
    font-family: sent;
    src: url(inferi/Inferi-Trial-BookItalic.otf);
}

.sentence{
    font-family: sent;
    font-size: 60px;
    text-align: center;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 56px;
    line-height: 65px;
    color:azure;
}

a{
    text-decoration: none;
    color: azure;
}

.b{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
}

.b:hover{
    color: #FF4D00;
    font-family: haaas;

}

/* 
.hide{
    display: none;
}


.b:hover + .hide{
    display: block;
    color: royalblue;
    font-family: haaas;
    width: 200px;
    height: 20px;
}
 */


.c{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
}

.c:hover{
    color: greenyellow;
    font-family: haaas;

}

.d{
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 12px;
}

.d:hover{
    color: royalblue;
    font-family: haaas;

}




@media only screen and (min-device-width: 414px) and (max-device-width: 768px) {

    body{
        overflow: hidden;
    }

    h1{
        font-family: haas, serif;
        width: fit-content;
        padding-top: 17px;
        padding-bottom: 4px;
        font-size: 17px;
        color: azure;
        padding-left: 17px;
    }
    
    h2{
        font-family: haas, serif;
        font-size: 14px;
        width: max-content;
        font-weight: lighter;
        color: azure;
        padding-left: 17px;
        padding-bottom: 61px;
    }
    
    .flex{
        display: flex;
        overflow: hidden;
        flex-direction: column;
        height: 100vh;
        width: 100vw;

    }


    .sentence{
        font-family: sent;
        font-size: 24px;
        text-align: center;
        padding-left: 43px;
        padding-right: 43px;
        padding-bottom: 56px;
        line-height: 26px;
    }

    .sentence:nth-of-type(3){
        padding-bottom: 0;
    }
    
    @keyframes one {
        from{
            color: azure;
            font-family: sent;
        }
        to{
            color: #FF4D00;
            font-family: haaas;
        }
    }

    
    .b{
        text-decoration-thickness: 2.1px;
        text-underline-offset: 3.5px;
        animation-name: one;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }

    
    

    @keyframes two {
        from{
            color: azure;
            font-family: sent;
        }
        to{
            color: greenyellow;
            font-family: haaas;
        }
    }

    .c{
        text-decoration-thickness: 2.1px;
        text-underline-offset: 3.5px;
        animation-name: two;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }


    @keyframes three {
        from{
            color: azure;
            font-family: sent;
        }
        to{
            color: royalblue;
            font-family: haaas;
        }
    }

    .d{
        text-decoration-thickness: 2.1px;
        text-underline-offset: 3.5px;
        animation-name: three;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
    }
    
}